#main-container {
  svg {
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    * {
      pointer-events: all;
    }
  }
  circle {
    stroke-width: 2px;
    stroke: #000;
    fill: #fff;
    transition: r 400ms;
  }
  text {
    transition: y 400ms;
  }
}
