<div id="homepage-container">

  <div class="logo-container">
    <img class="logo" src="/logo-blue-black.svg">
  </div>

  <div class="message"><a href="https://www.kickstarter.com/projects/524190637/calculist">Kickstarter happening now!</a> <br/> Follow us on <a href="https://twitter.com/calculist_io">twitter</a> and <a href="https://www.facebook.com/calculist/">facebook</a>.</div>

  <% # <div class="join-link"><a href="/join">Join</a></div> %>

</div>
