# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 3e53a2ebbd0159542321ccafc7230c04b0bbd77dc26d0e1d358a4ce86565fde61f01e3915d757deeec136a2c206169c2908b735a1312156766db79e7052aa3b5
  shared_secret: <%= ENV["SHARED_SECRET"] %>

test:
  secret_key_base: ae8a274263ea229a4945328519a33a16ab0cf09838697caa89f0cecf749d2de4bebedf079d7871d35cbfd62163221606e0ff7611c1810b0b39b54bcb7579f4a5
  shared_secret: <%= ENV["SHARED_SECRET"] %>

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  shared_secret: <%= ENV["SHARED_SECRET"] %>
  mailgun_username: <%= ENV["MAILGUN_USERNAME"] %>
  mailgun_password: <%= ENV["MAILGUN_PASSWORD"] %>
