<header id="header">
  <a href="/"><img id="logo" src="/logo-blue-black.svg"></a>
</header>

<%= javascript_include_tag "vendor" %>
<script type="text/javascript">confetti.start(2000);</script>
<div style="text-align: center;">
  <h1>Thank You!</h1>
  <div ><a href="/">Home</a></div>
</div>
