/*
 *= require_self
 */

@import 'variables.css.scss';
@import 'mixins.css.scss';

.devise-form {
  display: block;
  width: 256px;
  margin: 0 auto;
  // margin-top: 10vh;
  text-align: center;
  input {
    width: 100%;
    background-color: #f7f7f7;
    border: $default-input-border;
    &[type="submit"] {
      color: #fff;
      background-color: $computed-color;
      font-family: $default-font;
      font-size: 16px;
      padding: 8px;
      margin: 12px 0 0 0;
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 3px;
    }
    &[type="checkbox"] {
      display: inline-block;
      width: auto;
    }
  }
  a {
    text-decoration: none;
  }
  .logo-icon {
    width: 100px;
  }
  .form-inputs {
    outline: $default-outline;
    text-align: left;
    padding: 10px;
    background: #fff;
    // @include c-box-shadow;
  }
  .field {
    width: 256px - (20px + 4px); // TODO figure out a cleaner way to fix this
    margin: 8px 0 0 0;
    padding: 0;
  }
}
