@import "variables.css.scss";
@import "mixins.css.scss";
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
body {
  margin: 0;
  padding: 0;
}
#main-container {
  font-family: 'Ubuntu';
  margin: 0;
  padding: 50px 0;
  min-height: calc(100vh - 50px * 2);
  &.dragging {
    cursor: move;
    * {
      -webkit-user-select: none; /* Safari */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
    }
    .dot {
      cursor: move;
    }
  }
  a {
    color: $light-color;
    cursor: pointer;
  }
  header {
    &.hidden {
      opacity: 0;
    }
    transition: opacity 160ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition-delay: 160ms;
    background-color: transparent;
    margin: 0;
    position: fixed;
    top: 10px;
    left: 10px;
    height: 0;
    width: 100%;
    z-index: 1000;
    &:hover {
      opacity: 1;
    }
    #logo {
      float:left;
      width:112px;
      margin-top: -1px;
    }
    #version {
      display: inline-block;
      margin: 5px 0 0 5px;
      font-size: 14px;
    }
    .header-message {
      display: block;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      position: absolute;
      left: 0;
      top: 0;
      height: 0;
    }
    .header-right {
      float: right;
      margin-right: 24px;
    }
  }
  ul {
    transition: height 80ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    height: initial;
    border-left: 1px solid rgba(0,0,0,0.07);
    &.top-level {
      border-left: none;
    }
  }
  .input-container {
    margin-left: -10px;
    &.top-level {
      margin-left: 0;
    }
    &.drop-target-above {
      border-top: 16px solid rgba(0,0,0,0.3);
    }
    &.drop-target-below {
      border-bottom: 16px solid rgba(0,0,0,0.3);
    }
  }
  li {
    list-style-type: none;
    list-style-image: none;
    &.collapsed {
      list-style-type: none;
    }
    &.top-level {
      list-style-type: none;
      margin-left: -22px;
    }
    &.dragging {
      pointer-events: none;
      outline: 1px solid $computed-color;
      background: #fff;
      position: absolute;
    }
    &.dragging-standin {
      background: rgba(0,0,0,0.1);
    }
  }
  .page {
    background-color: rgba(0,0,0,0.3);
    outline: $default-outline;
  }
  .main-page, .zoom-page {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: $main-page-width;
    min-height: $main-page-width * (11 / 9);
    overflow: hidden;
    transition: opacity 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  .zoom-page {
    transition: all 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    position: absolute;
    min-height: 1px;
    overflow: visible;
    .input {
      img {
        max-width: 100%;
      }
    }
    ul {
      margin: 0;
    }
  }
  #top-level {
    transition: opacity 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    padding: 0;
    margin: 0;
    border: none;
  }
  #test {
    padding: 0;
  }
  #command-typeahead-menu {
    margin: 0;
    padding: 4px;
    font-family: $default-font;
    display: block;
    position: absolute;
    background-color: #000;
    color: #fff;
  }
  #sign-out {
    cursor: pointer;
  }
  .computed-display {
    position: absolute;
    margin-top: 3px;
    color: $computed-color;
    &.error {
      color: $computed-error-color;
    }
  }
  .dot {
    cursor: pointer;
    display: inline-block;
    width: auto;
    float: left;
    &:after {
      content: "";
      display: inline-block;
      border: 1px solid #666;
      margin: 8px;
      border-radius: 11px;
      width: 5px - 1px;
      height: 5px - 1px;
      float: left;
      background: none;
    }
    &.collapsed:after {
      border-color: transparent;
      background: #000;
    }
    &.top-level {
      opacity: 0;
      cursor: default;
    }
  }
  .link-buttons {
    display: inline-block;
    position: absolute;
    width: 100px;
    right: calc(50% - 520px);
    margin-top: -20px;
  }
  .input {
    transition: font-size 100ms;
    overflow: hidden;
    display: inline-block;
    color: $default-text-color;
    background-color: rgba(0,0,0,0);
    font-size: 16px;
    font-family: 'Ubuntu Mono', courier, monospace;
    padding: 4px;
    margin: 0;
    outline: none;
    border: none;
    width: calc(100% - 30px);
    min-height: 16px;
    white-space: normal;
    vertical-align: middle;
    &:focus, &.focus {
      color: rgba(255,255,255,1);
      background-color: rgba(0,0,0, 1);
      outline: 1px solid rgba(0,0,0,0.4);
    }
    &.command:focus, &.command.focus {
      background-color: rgba(255,255,255, 1);
      color: rgba(0,0,0,1);
      outline: 1px solid rgba(0,191,255,1);
    }
    &.command.warning:focus, &.command.warning.focus {
      background-color: rgba(255,0,0, 1);
      color: rgba(0,0,0,1);
    }
    &.top-level {
      font-size: 32px;
      list-style-type: none;
      transition: font-size 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    &.special-item {
      text-shadow: 0px 0px 1px $computed-color;
      span.value {
        text-shadow: none;
      }
    }
    span {
      &.value {
        color: $computed-color;
        &.error {
          color: $computed-error-color;
        }
      }
    }
    code {
      .hljs-string {
        color: rgba(0,191,255,1);
      }
      .hljs-number {
        color: rgba(0,191,255,1);
      }
    }
  }
  &.theme-dark {
    background-color: $dark-color;
    color: $light-color;
    a {
      color: $light-color;
    }
    .page {
      background-color: rgb(36,36,36);
    }
    ul {
      border-left: 1px solid rgba(255,255,255,0.09);
      &.top-level {
        border-left: none;
      }
    }
    li {
      color: rgba(255,255,255,0.5);
      &.collapsed {
        color: rgba(255,255,255,1);
      }
      &.dragging {
        background: rgb(36,36,36);
      }
      &.dragging-standin {
        background: rgba(255,255,255,0.1);
      }
    }
    .input {
      color: rgba(255,255,255,0.5);
      background-color: rgba(0,0,0,0);
      &:focus, &.focus {
        color: rgba(255,255,255,1);
        background-color: rgba(0,0,0, 1);
      }
      &.command:focus {
        background-color: rgba(255,255,255, 1);
        color: rgba(0,0,0,1);
      }
      &.command.warning:focus {
        background-color: rgba(255,0,0, 1);
        color: rgba(0,0,0,1);
      }
    }
    .dot {
      &.collapsed:after {
        background: rgba(255,255,255,0.8);
      }
    }
  }
  &.theme-light {
    background-color: $light-color;
    color: $dark-color;
    a {
      color: $dark-color;
    }
    .page {
      background-color: #fff;
    }
    li {
      color: rgba(0,0,0,0.5);
      &.collapsed {
        color: rgba(0,0,0,1);
      }
      &.dragging {
        background: #fff;
      }
    }
    .input {
      background-color: rgba(255,255,255,0);
      color: rgb(10,10,10);
      &:focus, &.focus {
        background-color: rgba(255,255,255,1);
        color: rgba(0,0,0, 1);
      }
      &.command:focus {
        color: rgba(255,255,255, 1);
        background-color: rgba(0,0,0,1);
      }
      &.command.warning:focus {
        color: rgba(255,0,0, 1);
        background-color: rgba(0,0,0,1);
      }
    }
  }
  &.theme-sandcastle {
    background-color: #eed;
    color: $dark-color;
    a {
      color: $dark-color;
    }
    .page {
      background-color: rgba(251,251,248,1);
    }
    li {
      color: rgba(0,0,0,0.5);
      &.collapsed {
        color: rgba(0,0,0,1);
      }
      &.dragging {
        background: rgba(251,251,248,1);
      }
    }
    .input {
      background-color: rgba(255,255,255,0);
      color: rgb(10,10,10);
      &:focus, &.focus {
        background-color: rgba(255,255,255,1);
        color: rgba(0,0,0, 1);
      }
      &.command:focus {
        color: rgba(255,255,255, 1);
        background-color: rgba(0,0,0,1);
      }
      &.command.warning:focus {
        color: rgba(255,0,0, 1);
        background-color: rgba(0,0,0,1);
      }
    }
  }

}
